@import "src/styles/variables";

.radio {
  &__label {
    display: flex;
    align-items: center;
  }

  &__text {
    margin-left: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: $blue_text;
  }

  &__input {
    display: none;
    margin: 0;
    position: relative;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__box {
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid $blue-icon;
    border-radius: 12px;
  }

  &__input:checked + &__box::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid $blue-icon;
    transform: translate(-50%, -50%);
    background-color: $blue-icon;
    border-radius: 12px;
  }

  &__input:disabled + &__box::before {
    cursor: default;
    background-color: $white;
  }

  &__input:checked:disabled + &__box::before {
    cursor: default;
    background-color: inherit;
    border: 1px solid $light_gray;
  }
}
