.profile {
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 28px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
  }

  .input {
    width: 45%;

    &__input {
      margin-top: 10px;
    }
  }
}
