@import "src/styles/variables";

.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 320px 1fr 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
          "header header header header header"
          "sidebar article article article article";
}

@media screen and (max-width: 1023px){
  .app {
    grid-template-areas:
          "header header header header header"
          "article article article article article";
  }
}