$alice_blue: #ecf5ff;
$black: #000000;
$black_light: #06253c;
$black_medium: #4a4c54;
$black_transparent: rgba(0, 0, 0, 0.08);
$blue_background: #e8f2ff;
$blue_border: #b9c8da;
$blue_dark: #233240;
$blue_dark_hover: #0153b4;
$blue-dark-tab: #3a4857;
$blue_gray: #6e738a;
$blue_heading: #08314c;
$blue_icon: #4ba5ec;
$blue_icon_light: #61d9ff;
$blue_navy: #0060d0;
$blue_royal: #8dacfc;
$blue_secondary: #5ab2f9;
$blue_secondary_placeholder: #9eadbe;
$blue_text: #2a2f48;
$dark_card_blue: #d1e5fd;
$gray_language_tab: #d5e4f7;
$gray_placeholder: #51606f;
$gray_status: #a0aec0;
$green: #00d742;
$green_gray: #18bc46;
$green_light: #22c55e;
$green_status: #6fcf97;
$grey_bg_lms: #fbfbfb;
$light: #eeeeee;
$light_gray: #d8d7d7;
$light_gray_lms: #fbfbfb;
$red: #ee3153;
$text_dark: #06253c;
$white: #ffffff;
$white_background: #fefefe;
$white_dark: #f0f4ff;
$yellow: #ffc100;
