@import "@styles/variables";

.card {
  display: flex;
  flex-direction: column;
  background-color: $blue-background;
  border-radius: 20px;
  width: 30%;
  padding: 24px;
  box-sizing: border-box;

  &__title {
    color: $black;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 16px;
  }

  &-button {
    background-color: $blue-icon;
    color: $white;
    height: 40px;
    border-radius: 14px;
  }

  &__subtitle {
    color: $black;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;

    h6 {
      margin-bottom: 10px;
    }
  }

  .all-sections-list {
    display: flex;
    flex-direction: column;
    column-gap: 6px;

    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 600;
      font-size: 14px;
      color: $black;
    }
  }

  &__author {
    display: flex;
    padding: 14px;
    align-items: center;
    background-color: $dark_card_blue;
    border-radius: 20px;
    gap: 14px;
    margin-bottom: 30px;

    &-avatar {
      width: 44px;
      height: 44px;
      border-radius: 99px;
    }

    &-group {
      display: flex;
      flex-direction: column;
      gap: 6px;

      &-text {
        color: $black;
        font-weight: 600;
        font-size: 16px;

        &-enrolled {
          color: $blue-icon;
          font-weight: 600;
          font-size: 12px;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    &-width {
      width: 100%;
    }
  }
}
