@import '@styles/variables';

.add_modal {
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 300;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    &_content {
        border-radius: 40px;
        background-color: white;
        padding: 32px 48px;
    }
}