@import "src/styles/variables";

.header__menu {
  display: flex;
  align-items: center;

  .menu {
    &__item {
      cursor: pointer;
      margin-left: 40px;

      &:first-child {
        margin-left: 0;
      }
    }

    &__link {
      color: $gray_placeholder;
    }

    &__link-active {
      color: $blue_navy;
    }
  }
}

@media screen and (max-width: 1023px) {
  .header__menu {
    display: none;
  }
}
