@import "@styles/variables";

.sidebar {
  grid-area: sidebar;
  z-index: 10;
  .sidebar__nav {
    position: sticky;
    top: 70px;
    padding: 30px 32px;
    height: calc(100vh - 50px); /* set a fixed height */
    overflow-y: auto;
  }

  &__title {
    color: $blue_heading;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 0 14px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 12px 0 12px 0;
    gap: 12px;
    color: $blue-icon;

    &-text {
      color: $blue-icon;
      font-size: 14px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 16px;

    &--selected {
      border-radius: 12px;
      background-color: $blue_secondary;
    }
  }

  &__text {
    &--selected {
      font-weight: 500;
      color: $white;
    }
  }

  &__divider {
    width: width;
    border: 1px solid $gray-language-tab;
    border-bottom: none;
  }
}

@media screen and (max-width: 1023px) {
  .sidebar {
    display: none;
  }
}
