@import "@styles/variables";

.exam-page {
  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 16px;

    &-titles {
      display: flex;
      flex-direction: column;
      row-gap: 15px;

      &-route {
        display: flex;
        align-items: center;
        column-gap: 14px;

        .base-route {
          cursor: pointer;
        }
      }

      p {
        font-weight: 400;
        font-size: 14px;
      }
      span {
        color: $black_light;
      }

      h1 {
        font-size: 22px;
      }
    }

    &-btn {
      .btn--secondary {
        border-radius: 12px;
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }
}
